{% extends "styleguide.html" %}

{% block content %}

<main class="styleguide container">
  <div class="row">
    <div class="col-12">
      <h3>Couleurs</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <h4>Arrière-plan</h4>
    </div>
    <div class="col-9">
      <span class="badge bg-white text-black">Noir $black</span>
      <span class="badge bg-black text-white">Blanc $white</span>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <h4>Accent</h4>
    </div>
    <div class="col-9">
      <span class="badge bg-primary text-white">Primaire $primary</span>
      <span class="badge bg-secondary text-white">Secondary $secondary</span>
    </div>
  </div>
</main>

{% endblock %}
