<!doctype html>
<html lang="fr">
	<head>
	  <meta charset="utf-8">
		<title>{{siteTitle}} — Guide de style</title>
		<link rel="stylesheet" href="{{assets}}/css/styleguide.min.css">
	</head>
	<body>
    <header class="container">
      <h1>Guide de style web</h1>
      <p>par Mathieu Lajeunesse médias interactifs</p>
      <ul class="list-unstyled mt-3">
        <li><a href="/">&lsaquo; Retour au site web</a></li>
      </ul>
    </header>
    {% block content %} {% endblock %}
    <script src="{{assets}}/js/styleguide.min.js"></script>
	</body>
</html>
